body{
    background-image: url(./images/bg_4.jpg);
    background-size: cover;
}

p{
    color: gray;
}


.image1{
    width: 190px;
    height: 100px;
    object-fit: cover;
}


.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;  
    color: white !important;  
}

.navbar ul{
    padding-left: 50%;
    font-weight: 500px;
}

.navbar ul li a:hover{
    color:yellow !important;
}
.navbar ul li{
    margin-left: 40px;
    font-size: medium;
}

.container-fluid{
    background-color: black;
}

.navbar ul li a{
    color:white !important;
}

.image2{
    width: 700px;
    height: 60vh;
    object-fit: contain;
}

.firstp{
    font-size: large;
    text-align: center;
}

h2{
    text-align: center;
    color: gray;
}

.text{
    font-size: small;
}

h3{
    font-size: medium;
    color: gray;
}

.our{
    text-align: center;
}

.our1{
    text-align: center;
}

/* #firstid{
    background-color: black;
} */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  .flip-card-front img{
      width: 300px;
      height: 300px;
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  /* Style the back side */
  .flip-card-back {
    /* background-color:black; */
    color: white;
    transform: rotateY(180deg);
  }

  #welcome{
      padding: 50px;
  }

  #firstid{
      background-color: black;
      padding: 30px;
  }

#mmmh{
    background-image: url(./images/new3.jpg);
    height: 20vh;
}

#mmmh2{
    background-image: url(./images/new.jpeg);
    height: 20vh;
}

.newlogo{
    width: 170px;
    height: 90px;
    object-fit: cover;
}

#mmmh3{
    background-image: url(./images/new2.jpg);
    height: 20vh;
}

.style{
    color: white;
    text-align: center;
}

.style1{
    color: white;
    font-weight: bolder;
}

  #services{
      background-image: url(./images/food.png);
      height: 60vh;
      padding: 30px;
  }

  h1{
      color: black;
  }

  #menu1{
      padding: 20px;
  }

  .image3{
    width: 700px;
    height: 60vh;
    object-fit: cover;
    padding: 10px;
  }

  .image4{
    width: 500px;
    height: 60vh;
    object-fit: cover;
    padding: 10px; 
  }

  .wewe{
      width: 350px;
      height: 250px;
      object-fit: cover;
  }
  
.h31{
    color: white;
    text-align: center;
    font-weight: bolder;
}

.h3p1{
    text-align: center;
    color: white;
    font-weight: bolder;
}

.price{
    text-align: center;
    color: white;
    font-weight: bolder;
}

.ml-2{
    color: white;
    font-weight: bolder;  
}

.h1menu{
    text-align: center;
    color: white;
    font-weight: bolder;
}

#menu{
    padding: 40px;
}
#p1{
    display: none;
}

#p2{
    display: none;
}

#p3{
    display: none;
}

.pricep1{
    color: white;
}

.span{
    color: white;
}

#pricing{
    padding: 30px;
}

h6{
    color: white;
    text-align: center;
}

#row1{
    padding: 20px;
}

.openingh1{
    color: white;
    text-align: center;
}

#about{
    padding: 40px;
}

.about1{
    font-size: larger;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.image5{
    width: 700px;
    height: 50vh;
    object-fit: cover;
}

.contactp{
    /* text-align: center; */
    color: white;
    font-size: larger;
}

.contacth5{
    color: white;
    font-size: x-large;

}

.choise h2{
    color:orange;
    text-align: left;
  }
  #your-orders{
    color: white;
    font-size: 30px;
  }

  .choise{
    display: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  .deliver{
    display: none;
  }
  .delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }

  .choise{
    display: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  .deliver{
    display: none;
  }
  .delivery{
    display: none;
    padding-left: 10%;
    padding-right: 10%;
  }
  .order h2{
    text-align: center;
  }
  #finallmessage{
    display: none;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 28px;
  }
  #regards{
    text-align: center;
    color: aliceblue;
  }
  #information{
    padding-top: 5%;
    font-size: 22px;
    padding-right: 8%;
    padding-left: 5%;
    color: #ffa500;
  }

  .order-overlay{
    background-color: rgba(0, 0, 0,0.5);
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 16px;
    padding-left: 16px;
  }
  .order h2{
    text-align: center;
    font-size: 20px;
  }
  
  input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}
span{
  color:red;
}
.picasso{
  font-size: large;
border-radius: 15px;
border-color: black;
}
.bla{
  font-size: large;
  color: black;
  border-style: solid;
  border-color: goldenrod;
  border-radius: 15px;
  text-align: center;
  border-width: 5px;
}
.abouty{
  text-align: center;
  text-decoration: underline;
}
.ble{
  color: black;
  border-style: solid;
  border-width:5px;
  border-color: yellow;
  border-radius: 15px;
  line-height:25px;
}
.doso{
  font-size: large;
  font: larger;
  text-align: center;
  text-decoration: underline;
  
}
.yorkpizza{
  border: double  gold ;
  border-radius: 15px;
}
.pizzatype{
  font-weight: bolder;
  text-decoration: underline;
  color:whitesmoke;
}
.pizzatext{
  color: whitesmoke;
  line-height: 27px;
  font-family: ';
}
.col-md-4{
  border: solid gold;
  border-radius: 25px;
  background-color: black;
  
}
  